<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
</head>
<body>
<div id="app">
    <div v-text="message">
    </div>

    <div v-html="el">
    </div>

    <div v-show="show">
        {{t}}
    </div>

    <div v-if="show>10">10</div>
    <div v-else-if="show>5">5</div>
    <div v-else>0</div>

    <div v-for="(v,i) in list">
          <span>{{i}}</span>
          <span>{{v.name}}</span>
          <span>{{v.password}}</span>
    </div>

    <div v-on:click.prevent="handelClick">点击我</div>

    <div v-bind:class="'abc'">孙洁</div>

    <a v-bind:href="'#'">.....</a>

    <input type="text"
           v-on:keyup="handelKeyup"
           v-model="t">

    <div v-pre>{{...}}</div>
    <div v-cloak>{{message}}]</div>
    <div v-once>{{t}}</div>
</div>
</body>
</html>
<script>
    var app=new Vue({
        el:'#app',
        data:{
            message:'hello',
            list:[{name:'aa'},{password:123}],
            el:'<span>123</span>',
            show:7,
            t:'aaa'

        },
        methods:{
            handelClick:function(){
                this.message='word';
            },
            handelKeyup:function(e){
                this.t=e.target.value;
            }
        }
    })
</script>